@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
html{
  font-family:Roboto;
}

*{
  margin: 0;
  box-sizing: border-box;
}


.hintError{
  position: relative;
}

.hintError > p{
  position: absolute;
}
input{
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}